#welcome-image-container{
    background-color:rgb(44, 50, 53);
}
#welcome-image-container div {
    height:35rem;
    width:35rem;
    position:relative;
    overflow:hidden;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
#welcome-image-container div img{
    position:absolute;
    bottom:-6rem;
    left:57%;
    transform: translateX(-50%);
    height:40rem;
    z-index:2;
}
